@use 'app/styles/variables' as *;

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid $gray-light;
    border-top-color: $purple;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;

    @media (min-width: 768px) {
      width: 48px;
      height: 48px;
      border-width: 5px;
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
