@use 'app/styles/variables' as *;
@use 'app/styles/mixins' as *;

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border: 1px solid $gray-light;
  border-radius: 6px;
  background-color: $gray-very-light;

  @include respond-to(tablet) {
    gap: 14px;
    padding: 14px;
  }

  @include respond-to(desktop) {
    gap: 15px;
    padding: 16px;
  }

  .itemContent {
    display: flex;
    flex-direction: column;
    gap: 6px;

    @include respond-to(tablet) {
      gap: 7px;
    }

    @include respond-to(desktop) {
      gap: 8px;
    }

    .itemTitle {
      font-size: 14px;
      font-weight: 600;
      color: $black;
      margin: 0;

      @include respond-to(tablet) {
        font-size: 15px;
      }

      @include respond-to(desktop) {
        font-size: 16px;
      }
    }

    .itemPrice {
      font-size: 13px;
      color: $gray-dark;
      margin: 0;

      @include respond-to(tablet) {
        font-size: 14px;
      }

      @include respond-to(desktop) {
        font-size: 16px;
      }
    }
  }

  :global(.button) {
    flex-shrink: 0;
    align-self: center;
  }
}
