@use '../../../../shared/styles/variables' as *;

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 16px;
  border: 1px solid $gray-light;
  border-radius: 6px;
  background-color: $gray-very-light;

  .itemContent {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .itemTitle {
      font-size: 16px;
      font-weight: 600;
      color: $black;
      margin: 0;
    }

    .itemPrice {
      color: $gray-dark;
      margin: 0;
    }
  }

  .removeButton {
    padding: 8px 16px;
  }
}
