@use '../../../../shared/styles/variables' as *;
@use '../../../../shared/styles/mixins' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 18px;
    font-weight: 700;
    color: $black;
    margin: 0;

    @include respond-to(tablet) {
      font-size: 20px;
    }

    @include respond-to(desktop) {
      font-size: 24px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .closeButton {
    min-width: 32px;
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
