@use '../../../../shared/styles/variables' as *;
@use '../../../../shared/styles/mixins' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 18px;
    font-weight: 700;
    color: $black;
    margin: 0;

    @include respond-to(tablet) {
      font-size: 20px;
    }

    @include respond-to(desktop) {
      font-size: 24px;
    }
  }
}
