@use '../../../../shared/styles/variables' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 24px;
    font-weight: 700;
    color: $black;
    margin: 0;
  }
}
