@use '../../../../shared/styles/variables' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid $gray-light;

  .title {
    font-size: 24px;
    font-weight: 700;
    color: $black;
    margin: 0;
  }

  .clearButton {
    padding: 8px 16px;
  }
}
