@use '../../styles/variables' as *;

.button {
  width: fit-content;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s;

  &.small {
    padding: 4px 8px;
  }

  &.medium {
    padding: 8px 16px;
  }

  &.big {
    padding: 12px 24px;
  }

  &.primary {
    color: $white;
    background-color: $blue;

    &:hover {
      background-color: $blue-dark;
    }

    &:active {
      background-color: $blue-darker;
    }

    &:disabled {
      background-color: $gray-light;
      color: $gray-dark;
      cursor: not-allowed;

      &:hover {
        background-color: $gray-light;
      }
    }
  }
}
