@use 'app/styles/variables' as *;

.button {
  width: fit-content;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  will-change: box-shadow;
  transition:
    box-shadow 0.3s,
    border-color 0.3s;

  &.small {
    padding: 4px 8px;
  }

  &.medium {
    padding: 8px 16px;
  }

  &.big {
    padding: 12px 24px;
  }

  &.primary {
    color: $white;
    background-color: $blue;

    &:hover {
      box-shadow: 0 0 12px 2px rgba(7, 2, 255, 0.3);
    }

    &:active {
      background-color: $blue-darker;
    }

    &:disabled {
      background-color: $gray-light;
      color: $gray-dark;
      cursor: not-allowed;

      &:hover {
        box-shadow: 0 0 12px 2px rgba(57, 57, 58, 0.15);
      }
    }
  }

  &.fullWidth {
    width: 100%;
  }
}
