@use 'app/styles/mixins' as *;

.items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  @include customScrollbar;

  @include respond-to(tablet) {
    gap: 14px;

    @media (max-height: 600px) {
      overflow-y: visible;
    }
  }

  @include respond-to(desktop) {
    gap: 16px;
  }
}
