@use '../../../shared/styles/variables' as *;

.list {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.loading,
.empty {
  padding: 24px;
  text-align: center;
  font-size: 16px;
  color: $gray-medium;
}
