@use 'app/styles/variables' as *;
@use 'app/styles/mixins' as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .list {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;

    @include respond-to(tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    @include respond-to(desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .loadMore {
    position: relative;

    .loadingMore {
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
      padding: 8px 16px;
      text-align: center;
      font-size: 14px;
      color: $gray-medium;
      white-space: nowrap;

      @include respond-to(tablet) {
        font-size: 16px;
        padding: 10px 20px;
      }
    }
  }
}

.loading {
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  @include respond-to(tablet) {
    padding: 20px;
  }

  @include respond-to(desktop) {
    padding: 24px;
  }
}

.empty {
  padding: 16px;
  text-align: center;
  font-size: 14px;
  color: $gray-medium;

  @include respond-to(tablet) {
    padding: 20px;
    font-size: 16px;
  }

  @include respond-to(desktop) {
    padding: 24px;
  }
}
