$white: #fff;
$black: #000;
$gray-light: #e0e0e0;
$gray-lighter: #f5f5f5;
$gray-very-light: #fafafa;
$gray-dark: #333;
$gray-medium: #666;
$blue: #007bff;
$blue-dark: #0056b3;
$blue-darker: #004085;
$purple: #7c3aed;
