@use '../../../../shared/styles/mixins' as *;

.items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  @include customScrollbar;

  @include respond-to(tablet) {
    gap: 14px;
  }

  @include respond-to(desktop) {
    gap: 16px;
  }
}
