@use '../../../shared/styles/variables' as *;

.cart {
  width: 400px;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border: 1px solid $gray-light;
  border-radius: 8px;
  background-color: $white;
}
