@use '../../../shared/styles/variables' as *;

.cart {
  width: 400px;
  max-height: calc(100vh - 50px);
  position: sticky;
  top: 25px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 24px;
  padding: 24px;
  border: 1px solid $gray-light;
  border-radius: 8px;
  background-color: $white;
  overflow-y: auto;
}
