@use 'app/styles/mixins' as *;

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;

  @include respond-to(tablet) {
    flex-direction: row;
    gap: 24px;
    padding: 20px;
  }

  @include respond-to(desktop) {
    gap: 30px;
    padding: 25px;
  }
}
